In [4]:
import pandas as pd
information = pd.read_csv("TrainToBangkokDATA.csv", )

In [5]:
information

    Station ID      Station Colorline  Can swap
0           B1      หลักสอง      Blue         0
1           B2        บางแค      Blue         0
2           B3    ภาษีเจริญ      Blue         0
3           B4  เพชรเกษม 48      Blue         0
4           B5      บางหว้า      Blue         1
..         ...          ...       ...       ...
202        BL4     รามคำแหง     Black         0
203        BL5      หัวหมาก     Black         1
204        BL6  บ้านทับช้าง     Black         0
205        BL7    ลาดกระบัง     Black         0
206        BL8   สุวรรณภูมิ     Black         0

[207 rows x 4 columns]